# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
*.egg
*.egg-info/
*.log
.cache
.claude
.eggs/
.env
.installed.cfg
.mypy_cache/*
.pytest_cache/*
.ruff_cache/*
.tox
.venv
.vscode
_build/*
build/
covreport
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
MANIFEST
parts/
pip-wheel-metadata
sdist/
site/*
var/
wheels/

.venv-ft
